*

!.gitignore

!skills/
!skills/clarity
!skills/clarity/**/*
!skills/speak
!skills/speak/**/*
!skills/go-1-26
!skills/go-1-26/**/*
!skills/go-1-27
!skills/go-1-27/**/*

!commands/
!commands/*

!scripts/
!scripts/*
!scripts/say/
!scripts/say/**/*
!scripts/server/
!scripts/server/**/*
scripts/server/secret
scripts/server/server.log
**/__pycache__/
**/.DS_Store
