<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.hostserver</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>__SERVER_PY__</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SPEAK_SERVER_BIND</key>
        <string>__BIND__</string>
        <key>SPEAK_SERVER_PORT</key>
        <string>8787</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__LOG__</string>
    <key>StandardErrorPath</key>
    <string>__LOG__</string>
</dict>
</plist>
